{% extends '_includes/_generic_page.html' %}
{% block image %}{% endblock %}
{% block heading %}Image Search{% endblock %}
{% block content %}

  <form action="{{ url_for('image_search') }}" method="post" enctype="multipart/form-data" id="image-search-form">
    <div class="row uniform">
      <div class="8u 12u$(medium)">
        <input type="text" name="image-url" id="image-url" placeholder="Enter image URL"/>
      </div>
      <div class="2u 12u$(medium)">
        <label class="button icon fa-folder" for="upload-file">
          <input type="file" accept="image/*" id="upload-file" name="upload-file">
        </label>
      </div>
      <div class="2u 12u$(medium)">
        <label class="button icon fa-camera" for="camera-file">
          <input type="file" accept="image/*" capture="*" id="camera-file" name="camera-file">
        </label>
      </div>
      <!-- Break -->
      <div class="8u 12u$(medium)">
        <ul class="actions">
          <li>
            <button type="submit" class="button icon fa-search">Search</button>
          </li>
        </ul>
      </div>
      <!-- Break -->
      {# Image preview #}
      <h3>Image preview</h3>
      <div class="5u 12u$(small)" id="preview">
        {# <img id="preview-image" src="{{ url_for('static', filename='images/pic03.jpg') }}" alt=""/> #}
      </div>
      <div class="7u 12u$(small)">
        <h4>Image filename</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi culpa dolore ducimus eligendi enim eos ex
          expedita facere hic id ipsa iusto minima quae quis quo rem totam, velit voluptatibus!</p>
      </div>
    </div>
  </form>

  <p>
    Image search is one of the many applications of image recognition. We can now search the <em>World Wide Web</em> by
    using image as search query. The possibilities are endless: Doctor searching X-ray scans for deficiencies, chat bot
    giving best replies after image inputs, self-driving car making optimal decisions on never before seen obstacles
    on the road.
  </p>
{% endblock %}
