{%- extends 'layouts/generic.html' %}

{#- Page title #}
{% block title -%}Image Search{%- endblock %}

{#- Page content #}
{% block content -%}

  <p>
    Search through a thousand image categories (from the <a href="https://imagenet.com">ImageNet</a> database).
    <a href="">InceptionV3</a> model is used to classify a given image and returns top 5 predictions of what the
    content of the image. We then crawl Google to search for the top prediction class. <br/>

    <strong>NOTE:</strong> It is important to note that the image classes are the ones present in the ImageNet dataset,
    anything apart from that might give a mis-classification. Nevertheless, it's smart enough to give you a close enough
    class label, because of the awesomeness of the InceptionV3 model.
  </p>
  {#- Display error #}
  {% if error -%}
    <p class="error icon fa-warning"> {{ error }}</p>
  {%- endif %}

  {#- Image form #}
  <form action="{{ url_for('image_search') }}" method="post" enctype="multipart/form-data" id="image-search-form">
    <div class="row uniform">
      <div class="8u 12u$(medium)">
        <input type="text" name="image-url" id="image-url" placeholder="Enter image URL"/>
      </div>
      <div class="2u 12u$(medium)">
        <label class="button icon fa-folder" for="upload-file">
          <input type="file" accept="image/*" id="upload-file" name="upload-file">
        </label>
      </div>
      <div class="2u 12u$(medium)">
        <label class="button icon fa-camera" for="camera-file">
          <input type="file" accept="image/*" capture="*" id="camera-file" name="camera-file">
        </label>
      </div>
      <!-- Break -->
      <div class="8u 12u$(medium)">
        <ul class="actions">
          <li>
            <button class="button icon fa-search">Search</button>
          </li>
        </ul>
      </div>
    </div>
  </form>

  {#- Previews and search results#}
  <div class="row 200%">
    {# Preview and scores #}
    <div class="6u 12u$(medium)">
      <div class="image fit" id="preview">
        {% if data -%}
          <h3>
            {{ data['predictions']['top']['label'] }} with {{ data['predictions']['top']['score'] }} accuracy.
          </h3>
          <img src="{{ url_for('static', filename=data['image_path']) }}"
               alt="{{ data['predictions']['top']['label'] }}"/>
        {%- endif %}
      </div>
      {# Top results & accuracy #}
      {% if data and data['predictions'] -%}
        <h4>Top ({{ data['predictions']['all']|length }}) Matches</h4>
        <div class="table-wrapper">
          <table class="alt">
            <thead>
            <tr>
              <th>Rank</th>
              <th>Image Class</th>
              <th>Score</th>
            </tr>
            </thead>
            <tbody>
            {% for img_class, pred_score in data['predictions']['all'].items() -%}
              <tr>
                <td>{{ loop.index }}</td>
                <td>{{ img_class }}</td>
                <td>{{ pred_score }}</td>
              </tr>
            {%- endfor %}
            </tbody>
          </table>
        </div>
      {%- endif %}
    </div>

    <!-- Search results -->
    <div class="6u$ 12u$(medium)">
      {% if data and data['search_results'] %}
        <div class="row uniform">
          <h3>Search results for {{ data['predictions']['top']['label'] }}</h3>
          <div class="alt">
            {# Results #}
            <div class="row 50% uniform">
              {% for _ in range(data['search_results']['titles']|count) -%}
                {% set search = data['search_results'] %}
                <h4>
                  <a href="{{ search['links'][loop.index0] }}">{{ search['titles'][loop.index0] }}</a>
                </h4>
                {# <i>{{ search['cites'][loop.index0] }}</i> #}
                <p>{{ search['descriptions'][loop.index0] }}</p>
              {%- endfor %}
            </div>
            {# Pagination #}
            <ul class="pagination">
              <li><span class="button small disabled">Prev</span></li>
              <li><a href="#" class="page active">1</a></li>
              <li><a href="#" class="page">2</a></li>
              <li><a href="#" class="page">3</a></li>
              <li><span>&hellip;</span></li>
              <li><a href="#" class="page">8</a></li>
              <li><a href="#" class="page">9</a></li>
              <li><a href="#" class="page">10</a></li>
              <li><a href="#" class="button small">Next</a></li>
            </ul>
          </div>
        </div>
      {% endif %}
    </div>

  </div>
{%- endblock %}
