<!-- Contact -->
<section id="contact">
  <div class="inner">
    <section>
      <form method="post" action="#">
        <div class="field half first">
          <label for="name">Name</label>
          <input type="text" name="name" id="name"/>
        </div>
        <div class="field half">
          <label for="email">Email</label>
          <input type="text" name="email" id="email"/>
        </div>
        <div class="field">
          <label for="message">Message</label>
          <textarea name="message" id="message" rows="6"></textarea>
        </div>
        <ul class="actions">
          <li><input type="submit" value="Send Message" class="special"/></li>
          <li><input type="reset" value="Clear"/></li>
        </ul>
      </form>
    </section>
    <section class="split">
      <section>
        <div class="contact-method">
          <span class="icon alt fa-envelope"></span>
          <h3>Email</h3>
          <a href="#">javafolabi@gmail.com</a>
        </div>
      </section>
      <section>
        <div class="contact-method">
          <span class="icon alt fa-phone"></span>
          <h3>Phone</h3>
          <span>(+234) 814-120-5245</span>
        </div>
      </section>
      <section>
        <div class="contact-method">
          <span class="icon alt fa-home"></span>
          <h3>Address</h3>
          <span>#25, Segun Akinlade Street,<br/>
                    Off Akure High School Road,<br/>
										Akure, Ondo State,<br/>
										Nigeria.</span>
        </div>
      </section>
    </section>
  </div>
</section>

<!-- Footer -->
<footer id="footer">
  <div class="inner">
    <ul class="icons">
      <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
      <li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
    </ul>
    <ul class="copyright">
      <li>&copy; Imaginary A.I.</li>
      <li>Design: <a href="https://github.com/victor-iyiola">Victor I. Afolabi</a></li>
    </ul>
  </div>
</footer>

</div>

<!-- Scripts -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/util.js') }}"></script>
<!--[if lte IE 8]>
<script src="{{ url_for('static', filename='js/ie/respond.min.js') }}"></script><![endif]-->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>