<!DOCTYPE html>
<!--
  @author Victor I. Afolabi
  A.I. engineer/researcher & Software engineer
  javafolabi@gmail.com
 
 Created on 04 January, 2018 @ 5:07 PM.
 
 Copyright © 2018. Victor. All rights reserved.
-->
<html>
<head>
  <title>{% block title %}{% endblock %} Imaginary A.I.</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
  <!--[if lte IE 8]>
  <script src="{{ url_for('static', filename='js/ie/html5shiv.js') }}"></script><![endif]-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
  <!--[if lte IE 9]>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/ie9.css') }}"/><![endif]-->
  <!--[if lte IE 8]>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/ie8.css') }}"/><![endif]-->
</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

  {% block body %}
  {% endblock %}

{% include '_includes/_footer.html' %}
