#
# Clone this repo
# ```commandline
#   $ git clone https://github.com/victor-iyiola/imaginary-ai.git
# ```
#
# Or download the project [here](https://github.com/victor-iyiola/imaginary-ai/archive/fullstack.zip)
#
# Then change your working directory as show below
# ```commandline
#   $ cd imaginary-ai
# ```
#
# Install python dependencies
# ```commandline
#   $ pip install --upgrade pip
#   $ pip install --upgrade -r requirements.txt
# ```
#
# Install npm dependencies
# ```commandline
#   $ cd static
#   $ npm install
# ```
#
# After installing the dependencies. You can now start webpack (to compile all client files into a single javascript file. `bundle.js`)
#
# For development
# ```commandline
#   $ npm run watch
# ```
#
# For Production
# ```commandline
#   $ npm run build
# ```
#
# Excellent. Now it's time to start the Python (flask) web server.
# ```
#   $ cd <imaginary-ai>
#   $ python run.py --debug=True
# ```
#
werkzeug==0.14.1
flask==0.12.2
beautifulsoup4==4.6.0
scipy==1.0.0
numpy==1.14.0
pandas==0.22.0
tensorflow==1.3.0
keras==2.1.2
cython==0.27.3
Pillow==5.0.0
passlib==1.7.1