@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';

/**
  * @author Victor I. Afolabi
  * A.I. engineer/researcher & Software engineer
  * javafolabi@gmail.com

  * Created on 04 January, 2018 @ 4:59 PM.

  * Copyright © 2018. Victor. All rights reserved.
*/

/* Button */

	.button {
		border: solid 2px !important;

		&.next {
			padding-right: 1.75em;

			&:before, &:after {
				display: none;
			}
		}
	}

/* Tiles */

	.tiles {
		article {
			width: 50%;
			-ms-behavior: url('assets/js/ie/backgroundsize.min.htc');
			background-size: cover;
		}
	}

/* Banner */

	#banner {
		-ms-behavior: url('assets/js/ie/backgroundsize.min.htc');

		&:after {
			display: none;
		}
	}

/* Menu */

	#menu {
		background: _palette(bg);
	}
