{%- extends 'layouts/sub-main.html' %}

{#- Page title #}
{% block title -%}My Research {%- endblock %}

{#- Page description #}
{% block description -%}
  <p>
    Here are some research ideas which has the <br/>
    potential to revolutionize this field.
  </p>
{%- endblock %}

{#- Page conent #}
{% block content -%}
  <!-- Deep Learning research -->
  <section id="one">
    <div class="inner">
      <header class="major">
        <h2>Deep Learning Research</h2>
      </header>
      <p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis magna sed nunc rhoncus condimentum sem. In
        efficitur ligula tate urna. Maecenas massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem
        consequat tincidunt. Vivamus et sagittis libero. Nullam et orci eu lorem consequat tincidunt vivamus et
        sagittis magna sed nunc rhoncus condimentum sem. In efficitur ligula tate urna.</p>
    </div>
  </section>

  <!-- list of DL research -->
  <section id="two" class="spotlights">
    <!-- A language model -->
    <section>
      <a href="{{ url_for('a_language_model') }}" class="image">
        <img src="{{ url_for('static', filename='images/pic08.jpg') }}" alt="" data-position="center center"/>
      </a>
      <div class="content">
        <div class="inner">
          <header class="major">
            <h3>A Language Model</h3>
          </header>
          <p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis magna sed nunc rhoncus condimentum sem.
            In efficitur ligula tate urna. Maecenas massa sed magna lacinia magna pellentesque lorem ipsum dolor.
            Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis tempus.</p>
          <ul class="actions">
            <li><a href="{{ url_for('a_language_model') }}" class="button">Learn more</a></li>
          </ul>
        </div>
      </div>
    </section>
  </section>

  <!-- Reinforcement Learning Research -->
  <section id="three">
    <div class="inner">
      <header class="major">
        <h2>Reinforcement Learning Research</h2>
      </header>
      <p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc
        rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel
        lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis
        libero. Mauris aliquet magna magna sed nunc rhoncus amet pharetra et feugiat tempus.</p>
      <ul class="actions">
        <li><a href="{{ url_for('research') }}" class="button next">Get Started</a></li>
      </ul>
    </div>
  </section>

{%- endblock %}
