{% extends '_includes/_layout.html' %}

{% block body %}
  <!-- Header -->
  <header id="header" class="alt">
    <a href="/" class="logo">
      <strong>Imaginary A.I.</strong> <span>by Victor</span>
    </a>
    <nav><a href="#menu">Menu</a></nav>
  </header>

  {% include '_includes/_main_menu.html' %}

  <!-- Banner -->
  <section id="banner" class="major">
    <div class="inner">
      <header class="major">
        <h1>Hi, my name is Victor</h1>
      </header>
      <div class="content">
        <p>I'm an Artificial Intelligence Engineer and researcher<br/>
          and here's a side piece of my works</p>
        <ul class="actions">
          <li><a href="#one" class="button next scrolly">Get Started</a></li>
        </ul>
      </div>
    </div>
  </section>

  <!-- Main -->
  <div id="main">

    <!-- One -->
    <section id="one" class="tiles">

      <article>
      <span class="image">
        <img src="{{ url_for('static', filename='images/pic01.jpg') }}" alt=""/>
      </span>
        <header class="major">
          <h3><a href="/projects/image-classification/" class="link">Image Classification</a></h3>
          <p>Image classification with <span>Convolutional Neural Networks</span></p>
        </header>
      </article>

      <article>
      <span class="image">
        <img src="{{ url_for('static', filename='images/pic02.jpg') }}" alt=""/>
      </span>
        <header class="major">
          <h3><a href="/projects/generative-models/" class="link">Generative Models</a></h3>
          <p>Generate photo realistic images with <span>Generative Adversarial Networks</span></p>
        </header>
      </article>

      <article>
      <span class="image">
        <img src="{{ url_for('static', filename='images/pic03.jpg') }}" alt=""/>
      </span>
        <header class="major">
          <h3><a href="/projects/ai-articles" class="link">A.I. Articles</a></h3>
          <p>Articles written by A.I. with <span>Recurrent Neural Networks</span></p>
        </header>
      </article>

      <article>
      <span class="image">
        <img src="{{ url_for('static', filename='images/pic04.jpg') }}" alt=""/>
      </span>
        <header class="major">
          <h3><a href="/projects/word-embeddings/" class="link">Word Embeddings</a></h3>
          <p>See for yourself how similar words cluster with the <span>Word2Vec</span> model</p>
        </header>
      </article>

      <article>
      <span class="image">
        <img src="{{ url_for('static', filename='images/pic05.jpg') }}" alt=""/>
      </span>
        <header class="major">
          <h3><a href="/projects/auto-encoding/" class="link">Auto-encoding</a></h3>
          <p>Create variations of a single image with <span>Variational Auto Encoders</span></p>
        </header>
      </article>

      <article>
      <span class="image">
        <img src="{{ url_for('static', filename='images/pic06.jpg') }}" alt=""/>
      </span>
        <header class="major">
          <h3><a href="/projects/reinforcement-learning/" class="link">Reinforcement Learning</a></h3>
          <p>Checkout this A.I. agent that learns through the process of <span>Trial &amp; Error</span></p>
        </header>
      </article>
    </section>

    <!-- Two -->
    <section id="two">
      <div class="inner">
        <header class="major">
          <h2>A Language Model</h2>
        </header>
        <p>I discovered something which might lead to a major breakthrough in the field of A.I. and NLP <em>(Natural
          Language Processing)...</em> I did some math to see how it improves existing models and it was pretty damn
          good.
          It's on the topic of AI developing some abstract representation of concepts. I'm sorry if this doesn't makes
          sense but it's really a cool concepts which is what humans do unconsciously.
          I've always wanted to build and do sth amazing and meaningful for the whole world...</p>
        <ul class="actions">
          <li><a href="/research/a-language-model/" class="button next">Learn More</a></li>
        </ul>
      </div>
    </section>

  </div>
{% endblock %}
