<!DOCTYPE html>
<!--
  @author Victor I. Afolabi
  
  A.I. engineer/researcher & Software engineer
  javafolabi@gmail.com
  
  Created on 01 February, 2018 @ 2:21 PM.
  
  Copyright © 2018. Victor. All rights reserved.
-->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %} &bull; Imaginary A.I.</title>
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

  <div class="container"></div>

<!-- scripts -->
<script src="{{ url_for('static', filename='dist/bundle.js') }}"></script>
</body>
</html>